@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer
@inject ILogger<AuthStatusDisplay> Logger

<AuthorizeView Context="authContext">
    <Authorized>
        <span>Hello, @authContext.User.Identity?.Name!</span>
        <a href="/logout" class="ms-3">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Login</a>
    </NotAuthorized>
    <Authorizing>
        <span>Authenticating...</span>
    </Authorizing>
</AuthorizeView>

@code {
    protected override void OnInitialized()
    {
        Logger.LogInformation("=== AUTH STATUS DISPLAY INITIALIZED ===");
        base.OnInitialized();
    }
}