@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer

<AuthorizeView>
    <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="organizations">
                <span class="bi bi-building-nav-menu" aria-hidden="true"></span> Organizations
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="bi bi-folder-nav-menu" aria-hidden="true"></span> Projects
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tasks">
                <span class="bi bi-list-check-nav-menu" aria-hidden="true"></span> Tasks
            </NavLink>
        </div>
    </Authorized>
</AuthorizeView>